html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*
This code will make loader
*/
#loader { 
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/icons/loader.gif) center no-repeat #fff; 
}
/*
This code will make loader to center
*/   
.loader .center { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
} 

/*==================
 HEADER SECTION
====================*/
#school-header {
    background-color: #f8f8f8;
    display: inline;
    float: left;
    width: 100%;
  }
  #school-header .school-header-area {
    display: inline;
    float: left;
    padding: 10px 0;
    width: 100%;
  }
  #school-header .school-header-area .school-header-top-left {
    display: inline;
    float: left;
    width: 100%;
  }
  #school-header .school-header-area .school-header-top-left .school-top-email {
    display: inline;
    float: left;
    font-size: 14px;
  }
  #school-header .school-header-area .school-header-top-left .school-top-email i {
    margin-right: 5px;
  }
  #school-header .school-header-area .school-header-top-left .school-top-phone {
    border-left: 1px solid #ddd;
    display: inline;
    font-size: 14px;
    float: left;
    margin-left: 15px;
    padding-left: 15px;
  }
  #school-header .school-header-area .school-header-top-left .school-top-phone i {
    margin-right: 5px;
  }
  #school-header .school-header-area .school-header-top-right {
    display: inline;
    float: left;
    text-align: right;
    width: 100%;
  }
  #school-header .school-header-area .school-header-top-right .school-top-social-nav {
    display: inline-block;
  }
  #school-header .school-header-area .school-header-top-right .school-top-social-nav li {
    display: inline-block;
  }
  #school-header .school-header-area .school-header-top-right .school-top-social-nav li a {
    display: inline-block;
    color: #000;
    font-size: 14px;
    padding: 0 8px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  /* NavBar Section */
  .navbar-wrapper{
    max-width: 90% !important;
  }
  .my-nav{
    z-index: 999;

  }
  .my-nav ul li a{
    text-transform: uppercase;
    font-weight: 500;
  }

  /*Carousel Section*/
  #mycarousel{
    margin-top: -40px;
  }
  .carousel-item img{
    max-height: 80vh!important;
    min-height: 40vh!important;
  }
  .carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 100%;
  }

  /* Latest News Section */
  .news-ticker{
    position: relative;
    top: -20px;
  }
  .news {
    width: 160px;
    text-transform: uppercase;
}
.breaking-news{
  background-color: #134594;
}
.news-scroll a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.1rem;
    font-weight: 500;
}
.news-scroll a:hover{
  color: #b2e046;
}

.dot {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px !important;
    background-color: rgb(255, 0, 0);
    color: red;
    display: inline-block
}


.about-more{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  background-color: #095a83;
  transition-duration: 0.3s;
  color: #fff;
  width: 165px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  margin-top: 20px;
  font-weight: 600;
  border-radius: 8px;
  text-transform: capitalize;
}
.welcome-area{
  margin-top: 20px;
}
.welcome-underline{
  width: 40%;
  height: 5px;
  background-color: #0c1a70;
  transform: skewX(-30deg);
  margin: 5px;
}
.content-text{
  text-align: justify;
}

.about-more-button a{
  text-decoration: none!important;
  outline: none!important;
}
.about-more-button a:hover{
  background-color: #134594;
  color: #43e653;
}
.news-part{
  margin-top: 20px;
}
.card-body a{
  color: #000;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-decoration: none;
}
.card-body a::before{
  content: "\00bb";
  font-weight: bold;
  font-size: 20px;
}
.card-body a:hover{
  color: #4f138f;
}
.welcome-area h2{
  text-transform: capitalize;
  font-weight: 700;
  color: #4f138f;
}
.welcome-front{
  color: rgb(28, 73, 7);
}

/*
===================
== Gallery Items ==
===================
*/
.gallery-section{
  background: linear-gradient(rgba(34, 32, 32, 0.219),
   rgba(49, 46, 46, 0.5)), 
   url('https://source.unsplash.com/1920x1080/?university')
  repeat fixed;
  background-position: center;
  background-size: cover;
}
.gallery-title{
  font-weight: bolder;
  color: #fff;
  letter-spacing: 0.2rem;
}

/*
below code is for goup button
*/
#goUp {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  transition: 0.5s;
  background-color: green;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.fa-chevron-up{
  font-size: 20px;
  color: white;
  transition: 0.3s;
}
#goUp:hover .fa-chevron-up{
  transform: translateY(-8px);
  transition: 0.3s;
}

/* Footer Section */
hr{
  background-color: #fff !important;
}
.footer-section{
  color: #fff;
  text-align: justify!important;
}
.footer-section a{
  color: #fff;
  transition: 0.3s;
  font-weight: 600;
  text-decoration: none;
}

.footer-section a:hover{
  transition: 0.3s;
  color: orangered;
}

/*Below code for copyright section*/

.copyright-section{
  padding: 20px;
  background-color: rgb(32, 32, 34);
}
.copyright-text{
  color: #cac6c6;
  font-size: 1rem;
}
.copyright-text a{
  transition: 0.3s;
  text-decoration: none;
  text-transform: uppercase;
  color: #cac6c6;
}
.copyright-text a:hover{
  transition: 0.3s;
  color: orangered;
}

